{% extends 'shortener/base.html'%}
{% load bootstrap4 %}

{% block title %}
<h1 class="h2">
	{% if form.instance.slug %}
	{{form.instance.domain}}/{{form.instance.slug}} bearbeiten
	{% else %}
	Neue Weiterleitung erstellen
	{% endif %}
</h1>
{% endblock %}


{% block content %}
<div class="row">
	<div class="col-md-6">
		<form method="post">
			{% csrf_token %}
			{% bootstrap_form form %}
			{% buttons %}
			<button type="submit" class="btn btn-primary">Speichern</button>
			{% endbuttons %}

		</form>
	</div>
	<div class="col-md-6">
		{% if form.instance.slug %}
		<div class="row">
			<div class="col-12">
		<a href="https://{{form.instance.domain.base_url}}/{{form.instance.slug}}/">
			https://{{form.instance.domain.base_url}}/{{form.instance.slug}}/
		</a>
			</div>
			<div class="col-12 my-3">
				<h3>OG:Image</h3>
		<img src="{{form.instance.og_image}}" class="img-responsive"/>
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
