{% extends 'shortener/base.html' %}

{% block title %}<h1 class="h2">Weiterleitungen</h1>{% endblock %}

{% block content %}
<div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Slug</th>
	      <th>Short-URL</th>
              <th>Long-URL</th>
              <th>Title</th>
              <th>Tracking</th>
            </tr>
          </thead>
          <tbody>
		  {% for link in object_list %}
            <tr>
		    <td><a href="{{link.get_absolute_url}}">{{link.slug}}</a></td>
		    <td><a href="https://{{link.domain.base_url}}/{{link.slug}}">{{link.domain.base_url}}/{{link.slug}}</a></td>
		    <td><a href="{{link.redirect_to}}" title="{{link.redirect_to}}">{{link.redirect_to|truncatechars:40}}</a></td>
		    <td title="{{link.title}}">{{link.title|truncatechars:60}}</td>
		    <td><a href="{{link.tracking_info.get_absolute_url}}">{{link.tracking_info}}</a></td>
            </tr>
	    {% endfor %}
          </tbody>
        </table>
      </div>
{% endblock %}
