<html>
<head>
<title>{{link.title}}</title>
<meta property="og:description" content="{{link.og_description}}" />
<meta property="og:image" content="{{link.og_image}}" />
<meta property="og:title" content="{{link.og_url}}" />
<meta property="og:type" content="{{link.og_type}}" />
<meta property="og:locale" content="{{link.og_locale}}" />
<meta property="og:url" content="{{link.og_url}};" />
<meta property="twitter:card" content="{{link.twitter_card}}"/>
<meta property="twitter:image" content="{{link.twitter_image}}"/>
<meta property="twitter:image:alt" content="{{link.twitter_alt}}"/>
<meta property="twitter:description" content="{{link.twitter_description}}"/>
<meta property="twitter:site" content="{{link.twitter_site}}"/>
{% autoescape off %}
{% if tracking.google_analytics %}
{{tracking.google_analytics }}
{% endif %}
{% if tracking.facebook_pixel %}
{{tracking.facebook_pixel}}
{% endif %}
{% if custom_js %}
{{tracking.custom_js}}
{% endif %}
{% endautoescape %}
<script>
window.location = "{{link.redirect_to}}";
</script>
</head>
</html>
