
{% extends 'shortener/base.html'%}
{% load bootstrap4 %}

{% block title %}
<h1 class="h2">
	{% if form.instance.name %}
	{{form.instance.name}} bearbeiten
	{% else %}
	Neues Tracking erstellen
	{% endif %}
</h1>
{% endblock %}


{% block content %}
<div class="row">
	<div class="col-md-6">
		<form method="post">
			{% csrf_token %}
			{% bootstrap_form form %}
			{% buttons %}
			<button type="submit" class="btn btn-primary">Speichern</button>
			{% endbuttons %}

		</form>
	</div>
</div>
{% endblock %}
