
{% extends 'shortener/base.html' %}

{% block title %}<h1 class="h2">Weiterleitungen</h1>{% endblock %}

{% block content %}
<div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Name</th>
              <th>Google</th>
              <th>Facebook</th>
              <th>Custom JS</th>
              <th>Owner</th>
            </tr>
          </thead>
          <tbody>
		  {% for tracking in object_list %}
            <tr>
		    <td><a href="{{tracking.get_absolute_url}}">{{tracking.name}}</a></td>
		    <td>{{tracking.google_analytics|truncatechars:40}}</td>
		    <td>{{tracking.facebook_pixel|truncatechars:40}}</td>
		    <td>{{tracking.custom_js|truncatechars:40}}</td>
		    <td>{{tracking.owner}}</td>
            </tr>
	    {% endfor %}
          </tbody>
        </table>
      </div>
{% endblock %}
