{% extends 'shortener/base.html' %}

{% block title %}<h1 class="h2">Auf wiedersehen!</h1>{% endblock %}

{% block content %}
<a href="{% url 'login' %}" class="btn btn-primary">Wieder anmelden</a>
{% endblock %}
