{% extends 'shortener/base.html' %}
{% load bootstrap4 %}
{% block title %}<h1>Anmelden</h1>{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6">
<form method="post" action="{% url 'login' %}">
	{% csrf_token %}
	{% bootstrap_form form %}
	{% buttons %}
	<button type="submit" class="btn btn-primary">Anmelden</button>
	{% endbuttons %}
</form>
	</div>
</div>

{% endblock %}
