# Core
Django~=5.2.0
psycopg[binary]~=3.2
Pillow~=11.0

# Link metadata scraping
beautifulsoup4~=4.13
requests~=2.32

# API
djangorestframework~=3.16
djangorestframework-api-key~=3.1
django-filter~=25.1
drf-spectacular~=0.28
drf-spectacular-sidecar

# Admin
django-unfold~=0.106
